.bottom-bar {
    padding: 15px 0;
    background-color: #333;

    .btn-toolbar {
        margin-left: -10px;
        > .btn-group {
            margin-left: 10px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .btn-link {
        color: $skincolor;

        &.btn-lg {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
