.question-likert {
    .ember-light-table {
        border: 0;
    }

    .affixed-block.affix {
        top: 65px;
        background-color: #fff;
    }
}

.likert-table.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: fade-out(lighten(desaturate($skincolor, 55%), 40%), 0.7);
}

.likert-table-answer-header {
    text-align: center;
    font-weight: normal;
}

@include mobile {
    .likert-table {
        table-layout: auto !important;
        overflow-x: scroll;
        &-answer-header {
            transform: rotate(45deg);
            font-size: .9rem;
        }
    }
}
