.testimonials {
    background-color: $themecolor;
    color: #fff;

    h1 {
        color: #fff;
        font-size: 25px;
        line-height: 25px;
        font-weight: 700;
        text-transform: uppercase;
    }
}
