.font-weight-normal {
    font-weight: normal;
}

.font-italic {
    font-style: italic;
}

.line-height-sm {
    line-height: 18px;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}
