<div class="container">
    <div class="jumbotron">
        <h3>{{t "assessment.smallDevice.title"}}</h3>
        <p>{{t "assessment.smallDevice.message"}}</p>
        <p>{{t "assessment.smallDevice.useLandscape"}}</p>
        {{#link-to "dashboard" class="btn btn-lg btn-primary"}}
            {{t "assessment.backToDashboard"}}
        {{/link-to}}
    </div>
</div>
