{{#modal-dialog title=(t "userConsent.label") cancel="cancel" size="modal-md" backdrop="static" closeOnEsc=false closeButton=false}}
      <div class="modal-body">
         <p>
            Dear Student:
         </p>
         <p>
            As an incoming student of the University at Albany, you will use a tool called DAACS (<a href="http://www.daacs.net">www.daacs.net</a>) that the University has newly implemented to optimize learning and promote student success. The Diagnostic Assessment of Achievement and College Skills (DAACS) is a collection of assessments of college readiness, with instant individualized feedback and links to online educational resources.
         </p>
         <p>
            In order to ensure the quality of the DAACS, my team and I will collect data related to students’ responses and usage, as well as demographic and academic information. We need your consent to collect your data, of course. Students who provide consent will be included in our database. Some will also be invited to participate in an interview about the DAACS system.
         </p>
         <p>
            To protect your privacy, your responses and information will be de-identified and kept confidential. Findings will be reported only in aggregate without the possibility of identification. There are no consequences for choosing not to participate in the study; you will still be able to take advantage of the supports provided by DAACS.
         </p>
         <p>
            Thank you for considering letting us include you in this important research on college success. If you have any questions about DAACS or this study, please feel free to email me directly at <a href="mailto:handrade@albany.edu">handrade@albany.edu</a>.
         </p>
         <p>
            Sincerely,
         </p>
         <p>
            Heidi L. Andrade, Ed.D.<br>
            Professor<br>
            Educational Psychology and Methodology<br>
            1400 Washington Ave.<br>
            Albany, NY, 12222<br>
         </p>
         <p>
            Click here to indicate your preference:
         </p>
         </div>
         <div class="modal-footer">
            {{#loading-button clicked=(action "submit" true) class="btn-primary btn-block"}}
                {{t "userConsent.consent"}}
            {{/loading-button}}
            <p class="help-block text-left margin-btm-20">
                <small>{{t "userConsent.consentDescription"}}</small>
            </p>
            {{#loading-button clicked=(action "submit" false) class="btn-default btn-block"}}
                {{t "userConsent.dontConsent"}}
            {{/loading-button}}
            <p class="help-block text-left">
                <small>{{t "userConsent.dontConsentDescription"}}</small>
            </p>
        </div>
{{/modal-dialog}}
