{{#power-select
    selected=selectedInstructor
    renderInPlace=false
    allowClear=true
    selectedItemComponent="instructor-select/selected-option"
    searchPlaceholder=(t "classes.search.label")
    placeholder=(t "classes.search.select")
    noMatchesMessage=(t "classes.search.noneFound")
    loadingMessage=(t "select.loading")
    searchMessage=""
    search=(action "searchInstructors")
    onchange=(action "onSelectionChange")
    as |user|
}}
    <div class="truncated-select-option">
        <div>{{user.fullName}}</div>
        <small class="text-muted">{{user.username}}</small>
    </div>
{{/power-select}}
