{{#modal-dialog title=(t "cookies.title") cancel="cancel" size="modal-md"}}
        <div class="modal-body">
            {{t "cookies.message"}}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" {{action "cancel"}}>{{t "dialog.close"}}</button>
        </div>
{{/modal-dialog}}
